.section {
  margin-bottom: 50px;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  padding-bottom: 6px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  background-color: #f0f0f0;
  padding: 60px 10vw;
  
  background-image: url(../imagens/background/equipe_trabalhando_a_uniao.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(198, 198, 198, 0.89);
  background-blend-mode: lighten
}

.login-box {
  background-color: #fff;
  border-radius: 100px;
  padding: 60px 80px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.12);
  text-align: center;
  width: 100%;
  max-width: 520px;
  box-sizing: border-box;
}

.cpb-logo {
  width: 140px;
  margin-bottom: 30px;
}

.login-box h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 40px;
}

.login-box form input {
  width: 100%;
  padding: 20px;
  margin: 18px 0;
  border: 1.5px solid #ccc;
  border-radius: 8px;
  font-size: 1.25rem;
  font-family: 'Georgia', serif;
  box-sizing: border-box;
}

.login-btn {
  width: 100%;
  padding: 20px;
  background-color: #185898;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.3rem;
  cursor: pointer;
  margin-top: 30px;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #5d8de3;
}

.login-links {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  font-size: 1.2rem;
}

.login-links a {
  text-decoration: none;
  color: #5d8de3;
}

.login-links a:hover {
  text-decoration: underline;
}

.account-info {
  margin: 30px 0 15px;
  font-size: 1.1rem;
}

.account-info a {
  color: #5d8de3;
  text-decoration: none;
}

.account-info a:hover {
  text-decoration: underline;
}