.html, body { 
	background-image: url('../imagens/background/old-parchment\ \(1\).jpg'); 
	background-size: cover; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-attachment: fixed; 
}

.overlay-conteudo { 
	background-color: rgba(255, 255, 255, 0.7); 
	flex: 1;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.section {
  margin-bottom: 50px;
}

.section p {
  font-size: 1.2rem;
  text-align: center;
}

.section h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  padding-bottom: 6px;
  color: #185898;
  text-align: center;
}

.section h2::after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background-color: #185898;
  margin: 16px auto 0px auto;
  border-radius: 2px;
  transition: width 0.3s ease;
}

.section h2:hover::after {
  width: 565px;
}