.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 0;
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.section {
  margin-bottom: 50px;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  border-bottom: 3px solid #e87474e9;
  padding-bottom: 6px;
  color: #e87474e9;
}