.container {
	padding: 50px 80px;
}

.section {
	margin-bottom: 50px;
}

.section h2 {
	font-size: 2rem;
	margin-bottom: 20px;
	padding-bottom: 6px;
}

.manual-container {
	max-width: 960px;
	margin: 60px auto;
	padding: 0 30px;
}

.manual-container h1 {
	font-size: 3.2rem;
	margin-bottom: 30px;
	color: #185898;
	text-align: center;
	border-bottom: 2px solid transparent;
	padding-bottom: 15px;
}

.manual-container h1::after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background-color: #185898;
  margin: 16px auto 0px auto;
  border-radius: 2px;
  transition: width 0.3s ease;
}

.manual-container h1:hover::after {
	width: 515px;
}

.manual-section {
	margin-bottom: 50px;
}

.manual-section h2 {
	color: #030000;
	font-size: 2rem;
	margin-bottom: 15px;
}

.manual-section p,
.manual-section ul {
	font-size: 1.3rem;
	text-align: justify;
	line-height: 2;
}

.manual-section ul {
	list-style: disc;
	margin-left: 30px;
}