.container {
	padding: 50px 80px;
}

.section {
	margin-bottom: 50px;
}

.section h2 {
	font-size: 2rem;
	margin-bottom: 20px;
	border-bottom: 3px solid var(--primary);
	padding-bottom: 6px;
	color: var(--primary);
}

.hero {
	max-width: 960px;
	margin: 60px auto;
	padding: 0 20px;
}

.hero h1 {
	font-size: 3rem;
	margin-bottom: 50px;
	margin: 20px 0 50px 0;
	text-align: center;
  text-transform: uppercase;
  color: #1E90FF;
}

.hero h1::after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background-color: #4682B4;
  margin: 16px auto 0 auto;
  border-radius: 2px;
  transition: width 0.3s ease;
}

.hero h1:hover::after {
	width: 520px;
}

.hero h2 {
	font-size: 1.3rem;
	font-weight: normal;
	text-align: justify;
	line-height: 2;
}

.team-section {
	max-width: 960px;
	margin: auto;
	padding: 0 20px;
	border-top: 2px solid #333;
}

.team-section h1 {
	font-size: 3rem;
	color: #1E90FF;
	margin-bottom: 50px;
	text-align: center;
	text-transform: uppercase;
	margin: 100px 0 0 0;
}

.team-section h1::after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background-color: #4682B4;
  margin: 16px auto 0px auto;
  border-radius: 2px;
  transition: width 0.3s ease;
}

.team-section h1:hover::after {
	width: 205px;
}

.team-member {
	display: flex;
	align-items: center;
	margin-bottom: 50px;
	gap: 30px;
}

.profile-pic {
	width: 240px;
	height: 240px;
	object-fit: cover;
	border-radius: 8px;
}

.profile-pic-extend {
	width: 240px;
	height: 300px;
	object-fit: cover;
	border-radius: 8px;
}

.member-info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex: 1;
}

.member-info h2,
.member-info p,
.member-info a {
	color: #000;
	margin: 5px 0;
}

.member-info h2 {
	font-size: 1.8rem;
}

.member-info p {
	font-size: 1.3rem;
	line-height: 1.8;
}

.member-info a {
	text-decoration: none;
	font-size: 1.2rem;
}

.member-info a:hover {
	text-decoration: underline;
}

.other-members {
	max-width: 960px;
	margin: auto;
	padding: 0 20px;
	border-top: 1px solid #ddd;
}

.members-wrapper {
	margin: 0 auto;
}

.other-members h2 {
	text-align: center;
	margin-bottom: 50px;
	margin: 100px 0 50px 0;
  text-transform: uppercase;
  color: #1E90FF;
}

.other-members h2::after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background-color: #4682B4;
  margin: 16px auto 0 auto;
  border-radius: 2px;
  transition: width 0.3s ease;
}

.other-members h2:hover::after {
	width: 265px;
}

.other-members h3 {
	font-size: 1.5rem;
	color: #444;
	text-align: left;
	margin-bottom: 40px;
	font-weight: 600;
}

.team-member.small {
	display: flex;
	align-items: flex-start;
	gap: 20px;
}

.team-member.small .profile-pic {
	height: 110px;
	width: 110px;
	object-fit: cover;
	border-radius: 8px;
}

.team-member.small .member-info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.team-member.small .member-info h3 {
	margin-top: -5px;
	font-size: 1.1rem;
	margin-bottom: 10px;
	color: #000000;
}

.team-member.small .member-info p {
	font-size: 1.1rem;
	color: #000000;
	margin: 2px 0;
}