.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 85vh;
	background-color: #f5f5f5;
	padding: 40px 60px;
}

.login-box {
	background-color: #fff;
	border-radius: 12px;
	padding: 60px 70px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	text-align: left;
	width: 100%;
	max-width: 720px;
	box-sizing: border-box;
}

.login-box h2 {
	font-size: 2rem;
	color: #333;
	margin-bottom: 35px;
	text-align: center;
}

.login-btn {
	width: 100%;
	padding: 18px;
	background-color: #185898;
	color: white;
	border: none;
	border-radius: 6px;
	font-size: 1.2rem;
	cursor: pointer;
	margin-top: 25px;
	transition: background-color 0.3s ease;
	box-sizing: border-box;
	font-weight: bold;
}

.login-btn:disabled {
	background-color: #ccc;
	cursor: not-allowed;
}

.login-btn:hover:enabled {
	background-color: #5d8de3;
}

#termos-texto {
	max-height: 300px;
	overflow-y: auto;
	border: 1px solid #ccc;
	padding: 20px;
	margin-bottom: 20px;
	font-size: 1rem;
	word-wrap: break-word;
	white-space: normal;
	line-height: 1.6;
}

#checking-box {
	margin: 20px 0;
}