.html, body { 
	background-image: url('../imagens/background/old-parchment\ \(1\).jpg'); 
	background-size: cover; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-attachment: fixed; 
}

.overlay-conteudo { 
	background-color: rgba(255, 255, 255, 0.7); 
	flex: 1;
}

.autores-container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 50px 20px;
  text-align: center;
  color: #000;
  flex: 1;
}

.autores-container h1 {
  font-size: 3rem;
  margin-bottom: 40px;
  color: #185898;
  text-transform: uppercase;
}

.autores-container h1::after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background-color: #185898;
  margin: 16px auto 0px auto;
  border-radius: 2px;
  transition: width 0.3s ease;
}

.autores-container h1:hover::after {
	width: 270px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.autor-card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 250px;
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.autor-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
}

.autor-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.autor-card h2 {
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: #000000;
}

.autor-card p {
  font-size: 0.95rem;
  color: #333;
  padding: 0 10px 15px;
}

.autor-card h2, p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.card-link {
	text-decoration: none;
	background: #4a90e2;
	color: #ffffff;
	padding: 8px 12px;
	border-radius: 6px;
	text-align: center;
	font-weight: bold;
	border: 2px solid #111827;
	box-shadow: 0 2px 6px rgba(0,0,0,0.2);
	transition: background 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  margin-top: auto;
}

.card-link:hover {
	background: #357ABD; 
	color: white;
	box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}