.html, body { 
	background-image: url('../imagens/background/old-parchment\ \(1\).jpg'); 
	background-size: cover; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-attachment: fixed; 
}

.overlay-conteudo { 
	background-color: rgba(255, 255, 255, 0.7); 
	flex: 1;
}

.section {
	margin-bottom: 50px;
}

.section h2 {
	font-size: 2rem;
	margin-bottom: 20px;
	padding-bottom: 6px;
}

.container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	max-width: 1200px;
	margin: 40px auto;
	padding: 0 20px;
	gap: 100px;
	flex: 1;
}

.contact-form {
	flex: 1;
}

.contact-form h2 {
	font-size: 2rem;
	margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
	width: 500px;
	padding: 12px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 15px;
	font-size: 1.1rem;
	box-sizing: border-box;
}

.contact-form textarea {
	height: 150px;
}

.contact-form button {
	background-color: #185898;
	color: white;
	border: none;
	padding: 12px 24px;
	cursor: pointer;
	border-radius: 4px;
	font-size: 1.1rem;
}

.contact-form button:hover {
	background-color: #5d8de3;
	transform: scale(1.03);
}

.custom-label {
	display: block;
	font-weight: 600;
	font-size: 1rem;
	margin-bottom: 0.4em;
	color: #333333;
	transition: color 0.3s ease;
	user-select: none;
}

.custom-label:hover {
	color: #0077cc;
}

.contact-info {
	flex: 1;
	margin-top: 13px;
}

.contact-info h3 {
	font-size: 1.5rem;
	margin-bottom: 10px;
}

.contact-info p {
	margin: 5px 0;
	font-size: 1.1rem;
}

.social-media {
	margin-top: 10px;
}

.social-media a img {
	height: 28px;
	width: 28px;
	margin-right: 10px;
	vertical-align: middle;
	transition: transform 0.2s;
}

.social-media a img:hover {
	transform: scale(1.1);
}

.editor-wrapper {
	background: white;
	border: 1px solid #ccc;
	border-radius: 8px;
	overflow: hidden;
	margin-bottom: 10px;
	width: 498px;
}

.editor-container {
	min-height: 200px;
}

.ql-editor {
  font-size: 1.1rem;
  line-height: 1.5;
}

.ql-toolbar {
	border: none;
	border-bottom: 1px solid #ccc;
}

.attachments {
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.attachment {
	background: #e9ecef;
	padding: 8px 12px;
	border-radius: 6px;
	display: flex;
	align-items: center;
	gap: 8px;
}

.attachment span {
	font-size: 14px;
}

.attachment button {
	background: none;
	border: none;
	color: #c00;
	cursor: pointer;
	font-weight: bold;
}

.actions {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-top: 10px;
}

.clip-button {
	background: none;
	border: none;
	font-size: 22px;
	cursor: pointer;
}

button[type="submit"] {
	padding: 10px 20px;
	background-color: #4a90e2;
	color: white;
	border: none;
	border-radius: 6px;
	font-weight: bold;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #357ABD;
}

input[type="file"] {
	display: none;
}