.section {
	margin-bottom: 50px;
}

.section h2 {
	font-size: 2rem;
	margin-bottom: 20px;
	padding-bottom: 6px;
}

.container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	max-width: 1200px;
	margin: 40px auto;
	padding: 0 20px;
	gap: 100px;
	flex: 1;
}

.contact-form {
	flex: 1;
}

.contact-form h2 {
	font-size: 2rem;
	margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
	width: 500px;
	padding: 12px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 15px;
	font-size: 1.1rem;
	box-sizing: border-box;
}

.contact-form textarea {
	height: 150px;
}

.contact-form button {
	background-color: #185898;
	color: white;
	border: none;
	padding: 12px 24px;
	cursor: pointer;
	border-radius: 4px;
	font-size: 1.1rem;
}

.contact-form button:hover {
	background-color: #5d8de3;
	transform: scale(1.03);
}

.custom-label {
	display: block;
	font-weight: 600;
	font-size: 1rem;
	margin-bottom: 0.4em;
	color: #333333;
	cursor: pointer;
	transition: color 0.3s ease;
	user-select: none;
}

.custom-label:hover {
	color: #0077cc;
}

.contact-info {
	flex: 1;
	margin-top: 7px;
}

.contact-info h3 {
	font-size: 1.5rem;
	margin-bottom: 10px;
}

.contact-info p {
	margin: 5px 0;
	font-size: 1.1rem;
}

.social-media {
	margin-top: 10px;
}

.social-media a img {
	height: 28px;
	width: 28px;
	margin-right: 10px;
	vertical-align: middle;
	transition: transform 0.2s;
}

.social-media a img:hover {
	transform: scale(1.1);
}